.testimonials-section {
  background-color: rgb(237, 239, 238);
}

.testimonials-section-container {
  padding: 50px 20px;
}

.testimonials-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.testimonials-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.testimonial-item {
  background-color: #f4f4f4;
  padding: 20px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.testimonial-item-container {
  display: flex;
  align-items: top;
  gap: 1rem;
  margin-bottom: 1rem;
}

.testimonial-item-image-container {
  height: auto;
  width: 7rem;
  height: 4rem;
  overflow: hidden;
  position: relative;
}

.testimonial-item-image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.testimonials-section p {
  font-size: 1.1rem;
  color: #555;
  margin: 0;
  margin-bottom: 1rem;
}
