.burger-menu-button {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 0;
}

.burger-menu-icon {
  width: 100%;
  margin: 0;
}

.nav {
  padding: 20px 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav li {
  margin: 0;
  margin-bottom: 10px;
}

.nav a {
  color: #495e57;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .burger-menu-button {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav.show {
    position: absolute;
    text-align: center;
    top: 74px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .nav ul {
    flex-direction: column;
    width: 100%;
  }

  .nav li {
    margin: 15px 0;
  }
}
