.footer {
  background-color: rgb(237, 239, 238);
}

.footer-container {
  padding: 20px;
  color: #495e57;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 20px;
}

.footer img {
  height: 50px;
  margin-bottom: 0;
}

.footer div {
  margin-bottom: 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer a {
  color: #495e57;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h4 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
}

@media (width <= 768px) {
  .footer {
    flex-direction: column;
    text-align: left;
  }

  .footer img {
    margin-bottom: 10px;
  }

  .footer div {
    margin-bottom: 10px;
  }
}
